@model IList<Twits.Models.Twit>

<p>There are @Model.Count twits to read</p>


<p>@Html.ActionLink("Create a Twit", "Create")</p>


<h1>Twits</h1>

<table>
    <tr>
        <th>Text</th>
        <th>Posted</th>
    </tr>
    @foreach(var twit in Model)
    {
    <tr>
        <td>@twit.Text</td>
        <td>@twit.CreatedOn</td>
        <td>@using (Html.BeginForm("Delete", "Twit", new { Id = twit.Id }, FormMethod.Post))
            {
                <button class="btn btn-primary" type="submit">Delete</button>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { Id = twit.Id }, new { @class="btn btn-primary"})
        </td>
    </tr>
        }
</table>